# See https://github.com/1up-lab/OneupFlysystemBundle/blob/master/doc/index.md
oneup_flysystem:
    adapters:
        r2_adapter:
            awss3v3:
                client: Aws\S3\S3Client
                bucket: '%env(R2_BUCKET)%'
                prefix: 'photos/'
                options:
                    ACL: 'private'

    filesystems:
        r2:
            adapter: r2_adapter
            visibility: private
